<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style = "text-align: center">
    <h1>Выберите издательство, чтобы узнать какие книги оно поставляло в марте 2013 года</h1>
    <form action = "" method = "post">
        <input  style = "
        margin: 10px;
    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" type = "text" placeholder="Издательство" name = "publishing">
        <input  style = "
         margin: 10px;
    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" type="submit" value="Отправить">
    </form>
        <p><a  style = "
         margin: 10px;
    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" href = "/request-menu">Меню запросов</a></p>
    </div>

</body>
</html>