<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">
        <input  style = "

    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" type="text" name = "login" placeholder="login">
        <input style = "
    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" type="password" name = "password" placeholder="password">
        <input style = "
    border: none;
    font-size: larger;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: 500;
    background: #87CEEB;
    box-shadow: 0 5px 0 #4682B4;
" type="submit" value = "loge in">
    </form>
</body>
</html>